<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <div class="header-content">
        
        <div class="logo-container">
          <img src="assets/img/Diseño sin título (1).png" alt="Logo Camping" class="logo-container" (click)="goToHome()" />
        </div>

          <ion-row class="button-row">
              <ion-button fill="solid" style="--background: #0d96c38a; --color: white; --box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.7);">
                <ion-icon slot="start" name="walk-outline"></ion-icon>
                Jarduerak
              </ion-button>
              
              <ion-button fill="solid" style="--background: #557E8C; --color: white; --box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.7);" (click)="goToHome()">
                <ion-icon slot="start" name="bed-outline"></ion-icon>
                Ostatua
              </ion-button>
              <ion-button fill="solid" style="--background: #557E8C; --color: white; --box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.7);" (click)="goToIgerilekua()">
                <ion-icon slot="start" name="water-outline"></ion-icon>
                Igerilekua
              </ion-button>
              <ion-button fill="solid" style="--background: #557E8C; --color: white; --box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.7);" (click)="goToJatetxea()">
                <ion-icon slot="start" name="restaurant-outline"></ion-icon>
                Jatetxea
              </ion-button>
          </ion-row>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="image-container">
            <img src="assets/img/caballo.webp" alt="Horse rider">
            <div class="overlay-text">Txangoak zaldiz</div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="image-container">
            <img src="assets/img/potes.webp" alt="Village">
            <div class="overlay-text">Playas y pueblos</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
