<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" class="large-icon" (click)="goToAlojamientos()"></ion-icon>
    </ion-buttons>
    <h2 style="flex: 1; text-align: center;">Zuhaitza</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img src="assets/img/334110587.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="assets/img/images (2).jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-img src="assets/img/images (1).jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="assets/img/images (2).jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

<div class="accommodation-info">
  <div class="info-header">
    <h2>Mendia</h2>
    <ion-icon name="star" style="color: #FFD700;"></ion-icon>
    <ion-icon name="star" style="color: #FFD700;"></ion-icon>
  </div>

  <div class="details">
    <div class="detail-item">
      <ion-icon name="wifi"></ion-icon>
      <span>WiFi</span>
    </div>
    <div class="detail-item">
      <ion-icon name="bed"></ion-icon>
      <span>Komuna</span>
    </div>
    <div class="detail-item">
      <ion-icon name="tv"></ion-icon>
      <span>TV</span>
    </div>
    <div class="detail-item">
      <ion-icon name="timer"></ion-icon>
      <span>24h</span>
    </div>
    <div class="detail-item">
      <ion-icon name="leaf"></ion-icon>
      <span>Baxista</span>
    </div>
  </div>

  <div class="info">
    <div class="info-item">
      <span>Sarrera: ost, 9 oct</span>
    </div>
    <div class="info-item">
      <span>Irteera: lg, 14 oct</span>
    </div>
    <div class="detail-item-price">
      <span>3 gaueko prezioa: 57$</span>
    </div>
  </div>
</div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" class="white-button">ALOKATU</ion-button>
  </ion-toolbar>
</ion-footer>







